# set colors of windows 


client.focused          #000000   #305b5c #ffffff
client.focused_inactive #333333 #444547 #8a8787
client.unfocused        #333333 #454343 #888888
client.urgent           #2f343a #900000 #ffffff
client.background #000000

# assign program to workspaces
for_window [floating] move position center 
for_window [class="Nemo"] move to workspace $ws3
for_window [class="Brave-browser"] move to workspace $ws2
for_window [class="Zettlr"] move to workspace $ws6
for_window [class="Gimp.*"] move to workspace $ws8
for_window [class="Joplin"] move to workspace $ws6
for_window [class="qBittorrent"] move to workspace $ws6
for_window [class="Code"] move to workspace $ws7
for_window [class="neovide"] move to workspace $ws7
for_window [title="xvpn"] floating enable
for_window [class="lf_browser"] floating enable
for_window [class="lf_browser"] resize set 1300 800
for_window [class="lf_browser"] move position center
for_window [class="code-oss"] move to workspace $ws7
for_window [class="Nm-connection-editor"] floating enable
for_window [instance="startup"] move to workspace $ws1
for_window [title="startup"] move to workspace $ws1
for_window [class="vlc"] move to workspace $ws4
for_window [class="mpv"] move to workspace $ws4
for_window [class="Zathura"] move to workspace $ws5
for_window [title="xfzfmenu"] floating enable
for_window [class="xfzfmenu"] floating enable
for_window [title="xotes"] move to workspace $ws10
for_window [class="xlf"] move to workspace $ws3
for_window [title="xmount"] floating enable
for_window [title="xmount"] resize set 500 400
for_window [title="xkeymaps"] floating enable
for_window [title="xkeymaps"] resize set 1800 500
for_window [title="xfzfmenu"] resize set 1200 500
for_window [class="xfzfmenu"] resize set 1200 800
for_window [title="xfzfmenu-dir"] floating enable
for_window [title="xfzfmenu-dir"] resize set 1800 500
for_window [title="xgit"] floating enable
for_window [title="xgit"] resize set 1500 1000
for_window [title="xai"] floating enable
for_window [title="xai"] move to workspace $ws10
for_window [title="xai"] resize set 800 800
for_window [title="xcal"] floating enable
for_window [title="xcal"] resize set 500 200
for_window [class="Gnome-terminal"] floating enable 
for_window [class=".*"] focus
# for_window [class="^.*"] border pixel 4
new_window pixel 1

# set gaps
gaps inner 8
gaps outer 8
