# excecute feh to set background and resolution/scale for monitors
exec_always --no-startup-id ~/bin/screen/.background.sh
exec_always --no-startup-id xrdb -merge ~/.dotfiles/xinit/.Xresources

# preserve brightness on startup
exec --no-startup-id brightness.sh


# NetworkManager is the most popular way to manage wireless networks on Linux, and nm-applet is a desktop environment-independent system tray GUI for it.
exec --no-startup-id nm-applet
exec --no-startup-id /usr/libexec/gnome-settings-daemaon-localeexec
exec --no-startup-id brightnessctl --restore

# autolock after 5 mins
exec xautolock -time 5 -locker "i3lock -c 251a2a && xset dpms force standby"


# turn bluetooth off
exec_always --no-startup-id bluetooth off

# picom compositor settings
exec_always --no-startup-id picom 

# set the keyboard keys repeat rate 
exec_always --no-startup-id xset r rate 200 100

# swap control and caps lock keys
exec_always --no-startup-id setxkbmap -option "ctrl:swapcaps"

# start alacritty on the startup
exec_always --no-startup-id alacritty --class "startup"

# exec_always --no-startup-id i3-autolayout autolayout
exec xinput set-prop "ELAN071A:00 04F3:30FD Touchpad" "libinput Tapping Enabled" 1


# bar config
bar {
       # status_command i3status -c $HOME/.config/i3status/i3status.conf
       status_command i3blocks -c $HOME/.dotfiles/i3blocks/.i3blocks_i3.conf
       i3bar_command i3bar --transparency 
        position top
        font -xos4-terminus-medium-r-normal--12-120-72-72-C-60-iso8859-1
        font pango: FiraCode bold 8
        workspace_min_width 19
        # separator_symbol "  |  "
        # font -*-proggysquaresz-medium-r-normal-*-11-80-*-*-*-*-iso8859-1
    workspace_buttons yes
        colors  {
        background #00000000
        statusline #ffffff
        focused_workspace #E5E5E5 #64727D #000000
        active_workspace #E5E5E5 #0fff16  #000000
        inactive_workspace #00000000 #00000000  #ffffff
        urgent_workspace #E5E5E5 #C68526 #000000
}
}
