# excecute feh to set background
exec_always --no-startup-id ~/.fehbg

# execute polybar
exec_always --no-startup-id killall polybar; polybar

# NetworkManager is the most popular way to manage wireless networks on Linux, and nm-applet is a desktop environment-independent system tray GUI for it.
exec --no-startup-id nm-applet
exec --no-startup-id /usr/libexec/gnome-settings-daemaon-localeexec

# autolock after 45 mins
exec_always xautolock -time 45 -locker "i3lock -c 251a2a && xset dpms force standby"

# monitor resolution setting
exec_always --no-startup-id xrandr --output HDMI-A-0 --right-of eDP --mode 1366x768 --rate 60 --gamma 0.9:0.9:0.9 ; /home/drkknght/.fehbg
exec_always --no-startup-id xrandr --output eDP --mode 1366x768  --gamma 0.7:0.7:0.7

# turn bluetooth off
exec_always --no-startup-id bluetooth off

# picom compositor settings
exec_always --no-startup-id picom --experimental-backends

# set the keyboard keys repeat rate 
exec_always --no-startup-id xset r rate 200 100

# swap control and caps lock keys
exec_always --no-startup-id setxkbmap -option "ctrl:swapcaps"

# start alacritty on the startup
exec_always --no-startup-id alacritty --class "startup"
exec_always --no-startup-id killall sxhkd ;sxhkd -c /home/drkknght/.config/sxhkd/sxhkdrc -t 1

# exec_always --no-startup-id i3-autolayout autolayout


# This font is widely installed, provides lots of unicode glyphs, right-to-left
# text rendering and scalability on retina/hidpi displays (thanks to pango).
#font pango:DejaVu Sans Mono 8

# The combination of xss-lock, nm-applet and pactl is a popular choice, so
# they are included here as an example. Modify as you see fit.

# xss-lock grabs a logind suspend inhibit lock and will use i3lock to lock the
# screen before suspend. Use loginctl lock-session to lock your screen.
#exec --no-startup-id xss-lock --transfer-sleep-lock -- i3lock --color=251a2a --nofork

#exec_always --no-startup-id compton --vsync opengl-swc --backend glx

# battery down notifcation
# exec_always --no-startup-id killall check_battery.sh;/home/drkknght/bin/system_scripts/check_battery.sh
