# set colors of windows 


client.focused          #305b5c   #305b5c #305b5c #305b5c
client.focused_inactive #333333 #444547 #8a8787
client.unfocused        #333333 #454343 #888888 #888888
client.urgent           #2f343a #900000 #ffffff
client.background #000000

# assign program to workspaces
for_window [floating] move position center 
for_window [app_id="nemo"] move to workspace $ws3
for_window [app_id="brave-browser"] move to workspace $ws2
for_window [class="Zettlr"] move to workspace $ws6
for_window [app_id="org.qbittorrent.qBittorrent"] move to workspace $ws6
for_window [class="Code"] move to workspace $ws7
for_window [class="Gimp.*"] move to workspace $ws8
for_window [app_id="neovide"] move to workspace $ws7
for_window [app_id="code-oss"] move to workspace $ws7
for_window [app_id="xvpn"] floating enable
for_window [app_id="xvpn"] resize set 500 500
for_window [app_id="startup"] move to workspace $ws1
for_window [class="vlc"] move to workspace $ws4
for_window [app_id="mpv"] move to workspace $ws4
for_window [app_id="lf_browser"] floating enable
for_window [app_id="lf_browser"] resize set 800 500
for_window [app_id="lf_browser"] move position center
for_window [app_id="org.pwmt.zathura"] move to workspace $ws5
for_window [app_id="nm-connection-editor"] floating enable
for_window [app_id="xfzfmenu"] floating enable
for_window [app_id="xotes"] move to workspace $ws10
for_window [app_id="xlf"] move to workspace $ws3
for_window [app_id="xmount"] floating enable
for_window [app_id="xmount"] resize set 500 400
for_window [app_id="xkeymaps"] floating enable
for_window [app_id="xkeymaps"] resize set 1000 300
for_window [app_id="xfzfmenu"] resize set 800 300
for_window [app_id="xfzfmenu-dir"] floating enable
for_window [app_id="xfzfmenu-dir"] resize set 1000 300
for_window [app_id="xgit"] floating enable
for_window [app_id="xai"] floating enable
for_window [app_id="xai"] move to workspace $ws10
for_window [app_id="xai"] resize set 850 550
for_window [app_id="xdg-desktop-portal-gtk"] floating enable
for_window [app_id="xdg-desktop-portal-gtk"] resize set 800 300
for_window [app_id="zenity"] floating enable
for_window [app_id="xgit"] resize set 1500 1000
for_window [app_id="xcal"] floating enable
for_window [app_id="xcal"] resize set 500 200
for_window [app_id=".*"] focus
for_window [app_id=".*"] border normal
for_window [class=".*"] focus
for_window [class="^.*"] border pixel 4
# new_window pixel 4

# set gaps
gaps inner 8
gaps outer 8
default_floating_border none
titlebar_padding 1
titlebar_border_thickness 0
