# exec_always --no-startup-id "killall waybar; waybar"
# exec waybar
exec_always dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK
exec systemctl --user import-environment

# excecute swaybg to set background
exec_always --no-startup-id ~/.background.sh
exec sway-audio-idle-inhibit
# exec_always --no-startup-id ~/.swaybg
# output eDP-1 bg $HOME/Pictures/dark-knight-04.jpg fill

# execute waybar
# exec_always --no-startup-id killall waybar; waybar

# NetworkManager is the most popular way to manage wireless networks on Linux, and nm-applet is a desktop environment-independent system tray GUI for it.
#implement this important
exec_always --no-startup-id "nm-applet --indicator &"

# autolock after 45 mins
# exec_always xautolock -time 45 -locker "i3lock -c 251a2a && xset dpms force standby"
exec swayidle  timeout 300 'swaylock -F -c 000000'  timeout 305 'swaymsg "output * dpms off"'  resume 'swaymsg "output * dpms on"' before-sleep 'swaylock -F -c 000000'
# monitor resolution setting
# exec_always --no-startup-id xrandr --output HDMI-A-0 --right-of eDP --mode 1366x768 --rate 60 --gamma 0.9:0.9:0.9 ; $HOME/.fehbg
# exec_always --no-startup-id xrandr --output eDP --mode 1366x768  --gamma 0.7:0.7:0.7
output eDP-1 pos 0 0 res 1920x1080 scale 1.8 

# turn bluetooth off
exec_always --no-startup-id bluetooth off

# picom compositor settings
# exec_always --no-startup-id picom --experimental-backends
# exec_always --no-startup-id picom 

# set the keyboard keys repeat rate 
# exec_always --no-startup-id xset r rate 200 100

input type:keyboard {
    repeat_delay 200
    repeat_rate 100
    xkb_options ctrl:swapcaps
}

# swap control and caps lock keys


# start alacritty on the startup
exec_always --no-startup-id alacritty --class "startup"
# exec_always --no-startup-id killall sxhkd ;sxhkd -c $HOME/.config/sxhkd/sxhkdrc -t 1
# exec "swhks & pkexec swhkd"

# exec_always --no-startup-id i3-autolayout autolayout
# exec xinput set-prop "ELAN071A:00 04F3:30FD Touchpad" "libinput Tapping Enabled" 1

input type:touchpad {
    dwt enabled
    tap enabled
    middle_emulation enabled
}


# This font is widely installed, provides lots of unicode glyphs, right-to-left
# text rendering and scalability on retina/hidpi displays (thanks to pango).
#font pango:DejaVu Sans Mono 8

# The combination of xss-lock, nm-applet and pactl is a popular choice, so
# they are included here as an example. Modify as you see fit.

# xss-lock grabs a logind suspend inhibit lock and will use i3lock to lock the
# screen before suspend. Use loginctl lock-session to lock your screen.
#exec --no-startup-id xss-lock --transfer-sleep-lock -- i3lock --color=251a2a --nofork

#exec_always --no-startup-id compton --vsync opengl-swc --backend glx

# battery down notifcation
# exec_always --no-startup-id killall check_battery.sh;$HOME/bin/system_scripts/check_battery.sh

# GTK
exec {
    gsettings set org.gtk.Settings.FileChooser window-size '(1000, 500)'
    gsettings set org.gnome.desktop.interface gtk-theme 'Mint-Y-Dark-Grey'
    gsettings set org.gnome.desktop.interface.wm.preferences theme 'Sweet-Dark-v40'
    gsettings set org.gnome.desktop.interface icon-theme 'Sweet-Rainbow'
    gsettings set org.gnome.desktop.interface cursor-size '48'
    gsettings set org.gnome.desktop.interface font-name 'Roboto Slab 10'
}

bar {
       # status_command i3status -c $HOME/.config/i3status/i3status.conf
       status_command i3blocks
        position top
        font CaskaydiaCoveNerdFont-Bold 7
        workspace_min_width 18
        separator_symbol " | "
        # font -*-proggysquaresz-medium-r-normal-*-11-80-*-*-*-*-iso8859-1
    workspace_buttons yes
        colors  {
        background #00000000
        statusline #ffffff  
        focused_workspace #E5E5E5 #64727D #000000
        active_workspace #E5E5E5 #0fff16  #000000
        inactive_workspace #00000000 #00000000  #ffffff
        urgent_workspace #E5E5E5 #C68526 #000000
}
}
